<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/style.css">
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark" id="barranav">
  <a class="navbar-brand" href="Home.html">Dearbook</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="sobre.html">Sobre</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="livros.html">Livros</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="produtos.html">Produtos</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="contatos.html">Contato</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="cadastro.html">Cadastro</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="login.html">Login</a>
        </li>
    </ul>
    
  </div>
</nav>

<header>
    <h1>Sua Biblioteca</h1>
    <hr>
</header>

{{#sucesso}}
<div class="alert alert-success">
  Usuário cadastrado com sucesso!
</div>
{{/sucesso}}

<div class="container">
    <div class="texto-com-retangulo">
        <h2>Bem-vindo à nossa biblioteca!</h2>
        <p>Aproveite ao máximo nosso site e todas as informações e recursos disponíveis. Estamos aqui para ajudá-lo a explorar o mundo dos livros e do conhecimento.</p>
        <div class="row">
            <div class="col-md-6">
                <div class="livro">
                    <img src="livro1.webp" alt="Livro 1">
                    <h3><a href="livro1.html" class="linklivro">Harry Potter - Pedra Filosofal</a></h3>
                </div>
            </div>
            <div class="col-md-6">
                <div class="livro">
                    <img src="livro2.jpg" alt="Livro 2">
                    <h3><a href="livro2.html" class="linklivro">Harry Potter - Pedra Filosofal</a></h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="livro">
                    <img src="Azkaban.jpg" alt="Livro 3">
                    <h3><a href="livro3.html" class="linklivro">Harry Potter - Prisioneiro de Azkaban</a></h3>
                </div>
            </div>
            <div class="col-md-6">
                <div class="livro">
                    <img src="Livro4.webp" alt="Livro 4">
                    <h3><a href="livro4.html" class="linklivro">Harry Potter - Enigma do Príncipe</a></h3>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Adicionando Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<!-- Se você quiser adicionar seu próprio script -->
<script src="script.js"></script>

</body>
</html>