<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre Nós</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark" id="barranav">
        <a class="navbar-brand" href="Home.html">Dearbook</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#">Home<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/livros.html">Livros</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/produtos.html">Produtos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/contatos.html">Contato</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/sobre.html">Sobre</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/">Atualizar Conta</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/sair">Logout</a>
                </li>
            </ul>
    
        </div>
    </nav>

<header>
    <h1>Quem somos?</h1>
    <hr>
</header>

<div class="container">
    <div class="texto-com-retangulo">
        <p class="sobre">O Dearbook é uma ferramenta que oferece ao usuário a possibilidade de armazenar
            seus livros em uma biblioteca online. Nesse contexto, a plataforma permite consultas, filtrar
            conteúdo, remoção e adição de novos livros como funcionalidades principais, além de
            proporcionar opções de favoritar, fazer comentários nas páginas e customizar seu perfil.
            <br><br>A aplicação tem como objetivo tornar o acesso a livros mais flexível e concentrado
            em um único lugar, buscando atrair bibliófilos e quaisquer pessoas interessadas em adquirir
            uma ferramenta simples para organizar e guardar seu material de leitura.
            <br><br>Por fim, o aplicativo estará disponível em um domínio web e irá necessitar de um
            cadastro para ser utilizado. Uma vez que o usuário está logado, torna-se possível a
            visualização e utilização da plataforma por completo.</p>       
    </div>
</div>

<!-- Adicionando Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<!-- Se você quiser adicionar seu próprio script -->
<script src="script.js"></script>

</body>
</html>